.services {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.services-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333; /* Ensure title is readable */
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.service-card:hover {
  transform: translateY(-10px); /* Lift card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333; /* Ensure text is readable */
}

.service-card p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.more-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.more-button:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
